{{#if showUserStories}}
  <h1>{{user.displayName}} Stories</h1>
{{else}}
  <h1>Public Stories</h1>
{{/if}}

<div class='row'>
  {{#each stories}}
    <div class='col s12 m4'>
      <div class='card'>
        <div class='card-image'>
        <!-- ../user to grab logged user outside the story user within the loop -->
        <!-- 3x {} to render html in handlebars -->
          {{{editIcon user ../user _id}}}
        </div>
        <div class='card-content center-align'>
          <h5>{{title}}</h5>
          <p>{{stripTags (truncate body 150)}}</p>
          <br />
          <div class='chip'>
            <img
              src='{{user.image}}'
              alt='{{user.displayName}} photo'
              referrerPolicy='no-referrer'
            />
            <a href='/stories/user/{{user._id}}'>{{user.displayName}}</a>
          </div>
        </div>
        <div class='card-action center-align'>
          <a href='/stories/{{_id}}' class='btn grey'>Read More...</a>
        </div>
      </div>
    </div>
  {{else}}
    <p>No stories to display</p>
  {{/each}}
</div>